
/* ---------- Main body CSS tags ---------- */

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vh;
    display: flow;
    position: fixed;
}

h1{
    padding: 2vh;
}

.background {
    background-image: url('../images/Game-images/leaves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    perspective: 2000px;
}

/* ---------- Game control div CSS ---------- */

.home-control-bar {
    width: 80vw;
    height: 60vh;
    top: 30vh;
    left: 10vw;
    position: absolute;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-self: center;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 5px;
    border-radius: 25px;
    background-image: linear-gradient(135deg, #393939, #090909);
    color: cornsilk;
}

.option-control-bar {
    width: 80vw;
    height: 45vh;
    z-index: 1000;
    top: 30vh;
    left: 10vw;
    position: absolute;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-self: center;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 5px;
    border-radius: 25px;
    background-image: linear-gradient(135deg, #393939, #090909);
    color: cornsilk;
}

.option-close {
    color: #aaaaaa;
    position: absolute;
    top: 3vh;
    right: 3vw;
    border-radius: 15%;
    font-size: 14px;
    font-weight: bold;
}

.diff-control-bar {
    width: 80vw;
    height: 45vh;
    z-index: 1000;
    top: 30vh;
    left: 10vw;
    position: absolute;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-self: center;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 5px;
    border-radius: 25px;
    background-image: linear-gradient(135deg, #393939, #090909);
    color: cornsilk;
}

#diff-close {
    color: #aaaaaa;
    position: absolute;
    top: 3vh;
    right: 3vw;
    border-radius: 15%;
    font-size: 14px;
    font-weight: bold;
}

.game-end-bar {
    width: 60vw;
    height: 45vh;
    z-index: 2000;
    top: 30vh;
    left: 20vw;
    position: absolute;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-self: center;
    text-align: center;
    border: none;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 5px;
    border-radius: 25px;
    background-image: linear-gradient(135deg, #393939, #090909);
    color: cornsilk;
}

#end-title {
    font-size: 4vw;
    font-weight: bolder;
    padding-top: 10%;
}

#score {
    flex-wrap: nowrap;
    font-size: 3vw;
    font-weight: bolder;
}

.row {
    margin: 3vh;
}

/* ---------- Button focus and hover CSS ---------- */

.option-close:hover,
.option-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 2vh 1vw 2vh 1vw;
    box-sizing: border-box;
    border-spacing: 2vw;
    border-radius:25%;
    background-image: linear-gradient(135deg, #393939, #090909);
    color: cornsilk;
    font-weight: bold;
    font-size: xx-large;
    border: none;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 5px;
}
button:hover,

button:focus {
    color: #ccc9c9;
    text-decoration: none;
    cursor: pointer;
}

#timer {
    padding: 2vh 1vw 2vh 1vw;
    box-sizing: border-box;
    border-spacing: 2vw;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    border: none;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 5px;
}

/* ---------- "How To?" Modal CSS ---------- */

.modal {
    position: absolute;
    z-index: 3;
    left: 15vh;
    padding: 10vh;
    width: 60%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-image: linear-gradient(135deg, #393939, #090909);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaaaaa;
    float:right;
    padding-right: 3vw;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
 }

/* ---------- Game container CSS ---------- */

.game-container {    
    width: 100vw;
    height: 96vh;
}

.game-controls {
    padding-top: 3vh;
}

.game-control-bar {
    width: 80vw;
    height: 20vh;
    top: 5vh;
    left: 10vw;
    padding: 3vh;
    position: absolute;
    align-self: center;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 5px 5px;
    border-radius: 25px;
    background-image: linear-gradient(135deg, #393939, #090909);
    color: cornsilk;
}

.memory-game-easy, 
.memory-game-medium, 
.memory-game-hard {
    align-content: center;
    align-self: center;
    width: 75vw;
    height: 70vh;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    perspective: 1000px;
    opacity:1;
    position: absolute;
    top:23vh;
    left:12.5%;
    bottom: 5%;
}

/* ---------- card sizing by difficulty ---------- */

.memory-card-easy {
    width: 23%;
    height: 30%;
    margin: 1%;
    position: relative;
    transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform .5s;
    -webkit-transition: transform .5s;
}

.memory-card-medium {
    width: 23%;
    height: 25%;
    margin: 1%;
    position: relative;
    transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform .5s;
    -webkit-transition: transform .5s;
}

.memory-card-hard {
    width: 18%;
    height: 20%;
    margin: 1%;
    position: relative;
    transform: scale(1);
    -webkit-transform: scale(1);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform .5s;
    -webkit-transition: transform .5s;
}



/* ---------- Card Flip and active CSS ---------- */

.memory-card-easy:active,
.memory-card-medium:active,
.memory-card-hard:active {
    transform: scale(.97);
    -webkit-transform: scale(.97); /*Added for use on iPhone and Safari*/
    transition: transform .2s;
    -webkit-transition: transform .2s;
}

.memory-card-easy.flip,
.memory-card-medium.flip,
.memory-card-hard.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transition: transform .2s;
    -webkit-transition: transform .2s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: lightblue;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); 
}

#hide,
.hide {
    display: none;
}

#show,
.show {
    display: block;
}

.footer {
    background-image: linear-gradient(135deg, #393939, #090909);
    color: #ffffff;
    width: 100vw;
    height: 4vh;
    position: fixed;
    top: 96vh;
    text-align: right;
    padding-right: 30px;
    z-index: 1000;
}

/* ---------- @media breakpoints ---------- */

@media (max-width: 576px) {
    .home-control-bar,
    .option-control-bar,
    .diff-control-bar {
        top: 20vh;
        height: 55vh;
    }
    .game-control-bar{
        height:20vh;
    }
    .game-end-bar {
        top: 20vh;
        width: 60vw;
        height: 60vh;
    }
    #end-title{
        font-size: 8vw;
        
    }
    #score {
        font-size: 4vw;
        flex-wrap: wrap;
    }
    .memory-card-hard {
        width: 18%;
    }
} /* -- Adjustments for mobile device */

@media (min-width: 576px) {
    .home-control-bar,
    .option-control-bar,
    .diff-control-bar {
        top: 20vh;
        height: 50vh;
    }
    #end-title{
        font-size: 4vw;
        flex-wrap: nowrap;
    }
    #score {
        font-size: 3vw;
    }
} /* -- Adjustments for tablet devices */

@media (min-width: 768px) {
    .home-control-bar,
    .option-control-bar,
    .diff-control-bar {
        top: 30vh;
        height: 45vh;
    }
    .game-control-bar {
        height: 15vh;
    }
    .game-end-bar{
        top: 30vh;
        width: 60vw;
        height: 45vh;
    }
    #score {
        font-size: 2vw;
    }
    .memory-card-hard {
        width: 18%;
    }
    
} /* -- Adjustments for smaller desktop and laptop */

@media (min-width: 1200px) {
    .home-control-bar,
    .option-control-bar,
    .diff-control-bar {
        top: 20vh;
        height: 45vh;
    }
    #score {
        font-size: 3vw;
    }
} /* -- Adjusments for larger desktop and laptop */

